.s-react-wrapper {
    /* display: flex; */
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: #00000070;
    height: 30rem;
}
.s-react-card-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.s-react-card-hidden {
    display: grid;
    width: 15rem;
    height: 15rem;
    position: relative;
    background-color: #0f0f2eb8;
    transition: 2s ease-in;
    /* justify-content: space-evenly; */
    /* padding: 1rem 2rem; */
}
.s-react-card-hidden-letter {
    background-color: inherit !important;
    font-size: 3rem !important;
    font-weight: 800;
    mix-blend-mode: color-dodge;
}
.s-react-card-dissapear{
    display: none;
    transition:2s ease-out;
}
.s-waterfall {
    position: absolute;
    width: 100%;
    height: 0.3rem;
    /* background-color: gold; */
    top: 0rem;
    animation: waterfall-anim infinite 1s cubic-bezier(0.4, 0, 1, 1);
    transition: 0.01s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.s-skill {
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 1rem;
}
.s-skill-level {
    position: absolute;
    box-shadow: 0px -1px 13px 0px pink;
    height: 12rem;
    width: -moz-fit-content;
    width: fit-content;
    bottom: 0rem;
    width: 100%;
    background: rgb(3,1,24);
    background: linear-gradient(3deg, rgba(3,1,24,1) 0%, rgba(10,11,31,0.7906512946975666) 100%, rgba(0,212,255,1) 100%);
}
.s-skill-level-node {
    position: absolute;
    box-shadow: 0px -1px 13px 0px pink;
    height: 3rem;
    width: -moz-fit-content;
    width: fit-content;
    bottom: 0rem;
    width: 100%;
    background: rgb(3,1,24);
    background: linear-gradient(3deg, rgba(3,1,24,1) 0%, rgba(10,11,31,0.7906512946975666) 100%, rgba(0,212,255,1) 100%);
}
.s-card-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
}
.s-react-card-hidden-container{
    /* background-color: burlywood; */
}
.s-react-subskills {
    display: flex;
    background-color: #150e5e80;
    position: relative;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
}
.s-react-relative-card {
    display: flex;
    justify-content: space-evenly;
    width: 58rem;
    height: 10rem;
    gap: 2rem;
}

.s-html, .s-css-framer-motion, .s-vanilla-js {
    display: grid;
    background-color: aliceblue;
    justify-content: space-evenly;
    background-color: #0000ff4d;
    width: 10rem;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 1rem 1rem 6rem 0rem;
}

.s-react-absolute-card {
    position: absolute;
    background-color: chocolate;
    bottom: -11rem;
    padding: 1rem;
    border-radius: 1rem;
}
.s-head{
    font-size:1.5rem;
    font-weight: 700;
}
.s-icon{
    width:3rem;
}



@keyframes waterfall-anim {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(165px);
    }
  }

  .s-react-absolute-right {
    background-color: #150e5e8a;
    padding: 2rem;
    border-radius: 1rem;
    color: cornsilk;
    font-size: large;
    font-weight: 600;
}

.s-node-subskills {
    position: relative;
}


@media (max-width: 600px) {
    .s-react-card-wrapper {
        display: grid;
        justify-content: space-around;
        padding: 2rem;
    }
    .s-react-relative-card {
        display: grid;
        position: relative;
        /* justify-content: space-evenly; */
        width: 100%;
        height: fit-content;
        gap: 2rem;
    }
.s-react-subskills {
    display: grid;
    background-color: #150e5e80;
    position: relative;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
}

.s-card-open {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    gap: 2rem
}
.s-react-wrapper {
    display: grid;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: #00000070;
    height: max-content;
}
.s-react-absolute-card {
    /* position: absolute;
    background-color: chocolate;
    
    padding: 1rem;
    border-radius: 1rem; */
    z-index: 99;
    bottom: -1rem;
    position: relative;
}
}