.i-navigation{
    display:flex;
    justify-content:flex-end;
    font-size:2rem;
    font-weight:bolder;
    gap:0.5rem;

}

.i-nav{
    border-bottom:2px solid blue;
}

.i-profile-image-container{
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: end;
    padding:5rem 5rem 5rem 10rem;
}

.i-image-container{
    width:35rem;
    height:15rem;
    overflow:hidden;
    object-position: 50% 50%;
    border-radius:0.6rem;
    background-color: red;
}

.i-profile-image{
    position:absolute;
}

.i-about{
    display:grid;
    text-align:justify;
    padding:0rem 5rem 5rem 5rem;
}

