.i-navigation{
    display:flex;
    justify-content:flex-end;
    font-size:2rem;
    font-weight:bolder;
    gap:0.8rem;
    padding:1rem;
}
.i-wrapper{
    
}

.i-nav{
    border-bottom:2px solid blue;
    font-size: 2rem;
    font-weight: 800;
    mix-blend-mode: color-dodge;
    color: white;
    cursor: pointer;
}
.i-nav:hover{
    box-shadow: inset 0px -20px 0px 0px rgb(231, 13, 13);
    animation: translateY 1s cubic-bezier(0.4, 0, 1, 1);
}
.i-profile-image-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: end;
    padding: 1rem;
}

img.i-profile-imge {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: 50% 90%;
    box-shadow: inset -6px -7px 20px 11px #050526;
    /* mix-blend-mode: hard-light; */
    padding:1rem;
}

.i-image-container {
    position: relative;
    /* padding: 1rem; */
}
.positioncls {
    position: absolute !important;
    background-color: transparent !important;
    width: 100% !important;
    height: 100% !important;
    top: 0rem;
}

.i-profile-image{
    width:1rem;
}

.i-about{
    display:grid;
    text-align:justify;
    padding:0rem 5rem 5rem 5rem;
}
.i-about-name {
    font-size: 2rem;
    font-weight: 800;
    mix-blend-mode: hard-light;
    color: #c4b2ea;
}