.lt-wrapper{
    display: grid;
    background-color: red;
    padding:5rem;
    
}
.lt-react-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 1rem 0rem;
    position: relative;
}
.lt-node-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 2rem 0.5rem;
    position: relative;
}
.lt-react-track {
    display: flex;
    gap: 1rem;
    background-color: darkblue;
    color: cornflowerblue;
}
.lt-node-track{
    display: flex;
    gap: 1rem;
    background-color: darkblue;
    color: cornflowerblue;
}
.lt-html-css-js,.lt-react-concept-jsx,.lt-hooks, .lt-props-drilling,
.lt-composition-advance-hooks, .lt-react-query-api-call{
    background-color: darkmagenta;
    padding: 1rem 0rem;
    
}
.lt-basics, .lt-crud,.lt-socket,.lt-apicall-handle,
.lt-nosql-sql,.lt-cloud,.lt-largedata-security{
    background-color: darkmagenta;
    padding: 1rem 1rem;
}
.lt-hover-control{
    position: relative;
}
.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0;
    transition: opacity 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    position: absolute;
    z-index: 1;
    left: 2rem;
    top: -3rem;
    box-shadow: -4px 3px 1px 3px sandybrown;
}
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
   
  }
  .z{
    zoom:1rem;
  }
  .z:hover{
    zoom:2rem;
    box-shadow: 2px 2px 2px;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> df4c93a8b32a9a2cd64e63684707c061a9bb8a88
