.lt-wrapper {
    display: grid;
    padding: 3rem 0rem;
    width: 100%;
    overflow: hidden;
}
.lt-bg {
    position: absolute;
    top: -3rem;
    width: 100vw;
    height: 113vh;
}
.lt-programming {
    font-size: 2rem;
    font-weight: 800;
    mix-blend-mode: color-dodge;
    color: white;
}
.lt-react-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 4rem 1rem;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(121deg, rgba(2,0,36,1) 2%, rgba(10,11,31,0.7906512946975666) 100%, rgba(0,212,255,1) 100%);
}
.lt-node-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 4rem 1rem;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(207deg, rgba(2,0,36,1) 2%, rgba(10,11,31,0.7906512946975666) 100%, rgba(0,212,255,1) 100%);
}
.lt-react-track,.lt-node-track {
    display: flex;
    gap: 1rem;
    background-color: darkblue;
    color: #e9e7f7;
    font-weight: 700;
    text-shadow: 7px 8px 4px black;
}
/* .lt-node-track{
    display: flex;
    gap: 1rem;
    background-color: darkblue;
    color: cornflowerblue;
} */
.lt-html-css-js,.lt-react-concept-jsx,.lt-hooks, .lt-props-drilling,
.lt-composition-advance-hooks, .lt-react-query-api-call{
    background-color: #200820;
    padding: 1rem 2rem;
    
}
.lt-basics, .lt-crud,.lt-socket,.lt-apicall-handle,
.lt-nosql-sql,.lt-cloud,.lt-largedata-security{
    background-color: #200820;
    padding: 1rem 2rem;
}
.lt-hover-control{
    position: relative;
}
.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 15rem;
    background-color: #0000002b;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0;
    transition: opacity 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    position: absolute;
    z-index: 1;
    left: 2rem;
    top: -4rem;
    box-shadow: -1px 0px 10px 0px #60e5f470;
    padding: 0.2rem;
}
.hovertext-l:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 15rem;
    background-color: #0000002b;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0;
    transition: opacity 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    position: absolute;
    /* z-index: 1; */
    left: -8rem;
    top: -5rem;
    box-shadow: -1px 0px 10px 0px #60e5f470;
    padding: 0.2rem;
}
  
  .hovertext:hover:before,.hovertext-l:hover:before {
    opacity: 1;
    visibility: visible;
    z-index: 99;
   
  }
  .z{
    zoom:1rem;
  }
  .z:hover{
    zoom:2rem;
    box-shadow: 2px 2px 2px;
  }
.to-learn{
    color:#200820 !important;
}

  @media (max-width: 600px) {
  .lt-wrapper {
    display: grid;
    padding: 3rem 0rem;
    width: 100%;
    overflow: hidden;
}
.lt-react-track, .lt-node-track {
    display: grid;
}
.hovertext:hover:before,.hovertext-l:hover:before {
    opacity: 0;
}