.c-me-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-template-columns: repeat(auto, );
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding:5rem;

}
.c-medium{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:0.5rem;
    bottom:5rem;    
}
.c-image{
    width:2rem;

}

.c-address{
    font-size: 2rem;
    font-weight: 600;
}
a{
    text-decoration: none;
    color:black;
    width:fit-content;
    padding:1rem;
}
a:hover{
    background-color: darkblue;
    border-radius: 0.5rem;
    transition: 0.01s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}