.c-me-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto, );
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
    text-align: center;
}
.c-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    bottom: 5rem;
    text-align: center;
    box-shadow: inset 1px 8px 20px 0px #5b0eeb, inset -2px -7px 9px 0px #0000ff;
    border-radius: 2rem;
    padding: 1rem;
    color: darkturquoise;
}
.c-image{
    width:2rem;

}

.c-address{
    font-size: 2rem;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: black;
    width: -moz-fit-content;
    /* width: fit-content; */
    padding: 1rem;
}
/* a:hover{
    background-color: darkblue;
    border-radius: 0.5rem;
    transition: 0.01s cubic-bezier(0.25, 0.46, 0.45, 0.94);
} */