@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

html {
  background: #050b14;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

#root {
  min-height: 100vh;
}
