.l-card-wrapper{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
}
.l-github-card{
    display: grid;
    gap:1rem;
    padding:2rem 3rem;
    background-color: #02021670;
    justify-content: center;
    align-items: center;
    border-radius:1rem;

}
.l-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.l-name{
    font-size:2rem;
    font-weight: 800;
}
.l-image{
    width:3rem;
}
.l-visit{
    width:fit-content !important;
    padding:0.5rem !important;
    color:white !important;
}
